.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25vh;
  background: #FAE8EB;
  border: 1px solid #D46993;
  border-radius: 10px;
}

.container div {
  padding: 1rem 0 0 0;
  font-size: 0.9rem;
  font-family: 'Roboto', serif;
  color: #6E3B64;
}

.container label {
  padding-right: 0.5rem;
}

.container input[type=text]{
  width: 200px;
  border: 1px solid #6E3B64;
  border-radius: 5px;
}
.container input[type=button]{
  width: 50%;
  border-style: none;
  background-color: #0BE32E;
  border-radius: 15px;
  margin: 20px 0 20px 0;
  height: 30px;
}
